@import "~bootstrap/scss/bootstrap";


body{
	padding: 22px 22px 88px 22px;
}




.section-head{
	text-align: center;
	margin-top: 22px;
}

.vids-container{
	/*width: 100vw;*/
	margin: auto;
	/*margin-left: 15vw;*/
}

.vids-table{
	margin: auto;

	td{
		padding: 12px;
	}
}

copyright{
	color: #d2c68c;
	font-style: italic;
	font-size: 0.8em;
}



.img-labels{
	font-style: italic;
	font-size: 0.8em;
	text-align: center;	
}

.sequence-table{
	width: 90vw;
	margin: auto;
}



.vid-grid-container{
	width: 98vw;
	margin: auto;
	align-content: center;
}

.vid-grid-item{
	display: inline-block;
	margin: auto;
}