@import "~bootstrap/scss/bootstrap";


body{
	padding: 22px 22px 88px 22px;
}




.section-head{
	text-align: center;
	margin-top: 22px;
}

.vids-container{
	/*width: 100vw;*/
	margin: auto;
	/*margin-left: 15vw;*/
}

.vids-table{
	margin: auto;

	td{
		padding: 12px;
	}
}

copyright{
	color: #d2c68c;
	font-style: italic;
	font-size: 0.8em;
}