
<div class="container">
	
	<div class="row">
    	<div class="col" align="center">
    		<h1 class="section-head">Surya Namaskara A</h1>
    	</div>
  	</div>
  	<div class="row">
  		<% Dir.glob('public/img/Surya_Namaskara_A/*').map{|file| file[29..-5].to_i }.sort.each do |filename| %>
		  <% next if filename == '.' or filename == '..' %>
			<div class="col" align="center">
    	 		<%= link_to image_tag("/img/Surya_Namaskara_A/#{filename}.png", size: "44"), series_scratch_path %>
    		</div>
		<% end %>
  	</div>

	<div class="row">
    	<div class="col" align="center">
    		<h1 class="section-head">Surya Namaskara B</h1>
    	</div>
  	</div>
  	<div class="row">
  		<% Dir.glob('public/img/Surya_Namaskara_B/*').map{|file| file[29..-5].to_i }.sort.each do |filename| %>
		  <% next if filename == '.' or filename == '..' %>
			<div class="col" align="center">
    	 		<%= image_tag("/img/Surya_Namaskara_B/#{filename}.png", size: "44") %>
    		</div>
		<% end %>
  	</div>

  	<div class="row">
    	<div class="col" align="center">
    		<h1 class="section-head">Standing Sequence</h1>
    	</div>
  	</div>
  	<div class="row">
  		<% Dir.glob('public/img/Standing_Sequence/*').each do |filename| %>
        <div class="col" align="center">
          <%= link_to image_tag("/img/Standing_Sequence/#{filename[-6..-1]}", size: "44"), series_scratch_path %>
        </div>
      <% end %>
  	</div>

  	<div class="row">
    	<div class="col" align="center">
    		<h1 class="section-head">Seated Sequence</h1>
    	</div>
  	</div>
  	<div class="row">
  		
  	</div>

  	<div class="row">
    	<div class="col" align="center">
    		<h1 class="section-head">Finishing Sequence</h1>
    	</div>
  	</div>
  	<div class="row">
  		
  	</div>


</div>