<nav class="navbar fixed-bottom navbar-dark bg-dark">
	<ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <table>
          <tr>
            <td><%= link_to "poses", poses_path, class: "nav-link" %></td>
            <td><%= link_to "sequences", sequences_path, class: "nav-link" %></td>
          </tr>
        </table>
      </li>
  </ul>

  <ul class="navbar-nav">
  	<li class="nav-item">
		<copyright>copyright © Oriane 2020</copyright>
    </li>
  </ul>
</nav>