  <footer id="sticky-footer" class="py-4 bg-dark text-white-50 navbar-fixed-bottom">
    <div class="container-fluid">
      <small><%= link_to "POSES", poses_path %></small>
      <small><%= link_to "SEQUENCES", sequences_path %></small>
      <span class="right"><small>Copyright &copy; Oriane 2020</small></span>
    </div>
  </footer>